body{
  font-family: Arial;
  font-size: 17px;
}

h1{
  color: red;
  text-align: center;
  text-transform: uppercase;
}

a{
  color: blue;
  font-weight: bold;
}

.p2{
  text-decoration: underline;
}

img{
  float: left;
  margin: 0 25px 25px 0;
  width: 445px;
  height: 600px;
}

body{
  margin: 20px;
}
