.container{
  border: 1px solid blue;
  padding: 10px;
  display: grid;
  /* grid-template-columns: 100px 200px 300px;
  grid-template-rows: 100px 200px; */
  grid-template: 200px 200px 200px / 25% 25% 25%;
  grid-gap: 10px;
  grid-template-areas: "A B C" "D E F" "G H I"
}

.box{

  background-color: orange;
  border: 1px solid blue;
}

.box1{
  grid-area: A;
}
